<div class="row pl-3 pr-3 form-group">
    {% include "management/animal_summary.html" %}
    <div class="col-sm-3" style="padding: 1%;">
        <label for="animalId" class="col-form-label" style="white-space: nowrap">Animal ID</label>
        <input type="text" class="form-control" id="animalId">
    </div>
    <div class="col-sm-3" style="padding: 1%; max-width: 21%">
        <label for="animalSex" class="col-form-label">Sex</label>
        <select id="animalSex" class="form-control">
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="unknown">unknown</option>
        </select>
    </div>
    <div class="col-sm-2" style="padding: 1%;">
        <button id="updateAnimalId" type="button" class="btn btn-sm btn-outline-info" style="bottom: 0.5em;position: absolute;">Update</button>
    </div>

    <div class="col">
        <button id="animalSummary" type="button" class="btn btn-sm btn-primary mx-auto" style="bottom: 0.5em;position: absolute;">Animal Summary</button>
    </div>

</div>

{% for feeder in feeders %}
    <div class="form-group row pr-3 pl-3">
        <div class="col-sm-4" style="max-width: 40%; padding-right: 0">
            <label for="rewardCount" class="col-form-label">{{ feeder }}:</label>
        </div>
        <div class="col" id="rewardCount-{{ feeder | replace(" ", "-") }}" style="padding-top: 8px"></div>
        <div class="col-sm-3">
            <input type="number" class="form-control" id="rewardCountInput-{{ feeder | replace(" ", "-") }}">
        </div>
        <div class="col" style="flex-basis: content; padding-left: 0">
            <label for="updateRewardCount-{{ feeder | replace(" ", "-") }}" class="col-form-label"></label>
            <button id="updateRewardCount-{{ feeder | replace(" ", "-") }}" type="button" class="btn btn-sm btn-outline-info">Update</button>
        </div>
    </div>
{% endfor %}

<div class="modal fade" id="validateAnimalModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Are you sure?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" id="yesUpdateAnimalId" class="btn btn-primary">Yes</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const feedersNames = JSON.parse('{{ feeders|tojson|safe }}')
    for (let feeder of feedersNames) {
      let feederLabel = feeder.replace(" ", "-")
      $(`#updateRewardCount-${feederLabel}`).click(() => {
        let newFeederCount = $(`#rewardCountInput-${feederLabel}`).val()
        console.log(`Feeder ${feederLabel} count was updated to ${newFeederCount}`)
        $.ajax({
            url: "/update_reward_count",
            type: "POST",
            data: JSON.stringify({
                'reward_count': newFeederCount,
                'name': feeder
            }),
            contentType: "application/json",
            error: function (data) {
                console.log(data.responseText)
            }
        })
      })
    }

    $("#animalSummary").click(function (e) {
        $("#animalIdsForSummarySelect").val($("#animalIdsForSummarySelect option:first").val()).trigger('change')
        $("#updateAnimalSummary").click()
        $('#animalSummaryModal').modal('toggle')
    })

    $("#updateAnimalId").click(() => {
        $("#validateAnimalModal").modal('toggle');
    })

    function updateAnimalId() {
        $.ajax({
            url: "/update_animal_id",
            type: "POST",
            data: JSON.stringify(AnimalIDFields.values),
            contentType: "application/json",
            error: function (data) {
                console.log(data.responseText)
            }
        })
    }

    $("#yesUpdateAnimalId").click(() => {
        updateAnimalId()
        $("#validateAnimalModal").modal('toggle');
    })

</script>