<!-- Animal Summary Modal -->
<div class="modal fade" id="animalSummaryModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Animal Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row m-1">
                    <label for="arenaForSummarySelect">Arena</label>
                    <select id="arenaForSummarySelect" style="margin-left: 0.5em" autocomplete="off">
                        {% for arena in summary_animal_ids.keys() %}
                            <option value="{{ arena }}" {% if arena == arena_name %}selected{% endif %}>{{ arena }}</option>
                        {% endfor %}
                    </select>

                    <label for="animalIdsForSummarySelect">Animal ID</label>
                    <select id="animalIdsForSummarySelect" style="margin-left: 0.5em" autocomplete="off">
                    </select>

                    <label for="dateForSummarySelect" style="margin-left: 1em">Day</label>
                    <select id="dateForSummarySelect" style="margin-left: 0.5em">
                    </select>

                    <button id="updateAnimalSummary" type="button" class="btn btn-sm btn-outline-primary"
                            style="margin-left: 1em">Update</button>
                    <button id="refreshAnimalSummary" type="button" class="btn btn-sm btn-outline-secondary"
                            style="margin-left: 0.5em">Reload</button>
                </div>

                <pre id="animalSummaryText" class="mt-2"></pre>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    let animalIdsSummaryData = JSON.parse('{{ summary_animal_ids|tojson|safe }}')
    const defaultArenaName = {{ arena_name|tojson|safe }}

    function selectHasValue($select, value) {
        if (!value) {
            return false
        }
        return $select.find("option").filter(function () {
            return $(this).val() === value
        }).length > 0
    }

    function refreshAnimalSummaryData() {
        const prevArena = $("#arenaForSummarySelect").val()
        const prevAnimal = $("#animalIdsForSummarySelect").val()
        const prevDay = $("#dateForSummarySelect").val()

        return $.getJSON('/summary_animal_ids').done((data) => {
            animalIdsSummaryData = data || {}
            const $arenaSelect = $("#arenaForSummarySelect")
            $arenaSelect.empty()
            $.each(Object.keys(animalIdsSummaryData), (i, arena) => {
                $arenaSelect.append($("<option></option>").attr("value", arena).text(arena))
            })

            let nextArena = prevArena
            if (!selectHasValue($arenaSelect, nextArena)) {
                if (defaultArenaName && selectHasValue($arenaSelect, defaultArenaName)) {
                    nextArena = defaultArenaName
                } else {
                    nextArena = $arenaSelect.find("option:first").val()
                }
            }

            if (!nextArena) {
                $("#animalIdsForSummarySelect option").remove()
                $("#dateForSummarySelect option").remove()
                return
            }

            $arenaSelect.val(nextArena).trigger('change')

            const nextDate = $("#dateForSummarySelect").find("option:first").val()
            $("#dateForSummarySelect").val(nextDate)

            if (selectHasValue($("#animalIdsForSummarySelect"), prevAnimal)) {
                $("#animalIdsForSummarySelect").val(prevAnimal).trigger('change')
                if (selectHasValue($("#dateForSummarySelect"), nextDate)) {
                    $("#dateForSummarySelect").val(nextDate)
                }
            }
        }).fail((data) => {
            console.log(data.responseText || 'Failed to refresh animal summary list')
        })
    }

    $("#refreshAnimalSummary").click(() => {
        refreshAnimalSummaryData()
    })

    $("#arenaForSummarySelect").change(() => {
        let selectedArena = $("#arenaForSummarySelect").val()
        if (selectedArena) {
            $(`#animalIdsForSummarySelect option`).remove()
            let $el = $("#animalIdsForSummarySelect")
            $.each(Object.keys(animalIdsSummaryData[selectedArena]), (i, animal_id) => {
                $el.append($("<option></option>").attr("value", animal_id).text(animal_id))
            })
            $(`#dateForSummarySelect option`).remove()
            let $dateEl = $("#dateForSummarySelect")
            let selectedAnimal = $el.val()
            $.each(animalIdsSummaryData[selectedArena][selectedAnimal], (i, day) => {
                $dateEl.append($("<option></option>").attr("value", day).text(day))
            })
        }
    }).trigger('change')

    $("#animalIdsForSummarySelect").change(() => {
        let selectedAnimal = $("#animalIdsForSummarySelect").val()
        if (selectedAnimal) {
            $(`#dateForSummarySelect option`).remove()
            let $el = $("#dateForSummarySelect")
            $.each(animalIdsSummaryData[$("#arenaForSummarySelect").val()][selectedAnimal], (i, day) => {
                $el.append($("<option></option>").attr("value", day).text(day))
            })
        }
    }).trigger('change')

    $("#updateAnimalSummary").click(() => {
        $.post('/animal_day_summary', {
            animal_id: $("#animalIdsForSummarySelect").val(),
            day: $("#dateForSummarySelect").val()
        }).done((data) => {
            $("#animalSummaryText").html(data)
            // make the analysis_error cells in the table editable
            let tds = $("td[id^=T_strikes_table_][id$=_col5]")
            for (let i=0; i<tds.length; i++) {
              tds[i].contentEditable = 'true';
            }
        }).fail((data) => {
          $("#animalSummaryText").text(data.responseText)
      })
    })

</script>
