<div class="col" id="events_column">
    {% include "management/configurations.html" %}
    <h4 style="text-align: center;">Events</h4>

    {% for name in toggels %}
        <div class="row mb-1" id="toggle-{{ name }}-div">
            <h7 class="col ml-2">{{ name }}:</h7>
            <input id="toggle-{{ name }}" type="checkbox" checked data-toggle="toggle"
                       data-onstyle="success" data-offstyle="danger" data-size="xs" data-height="25">
        </div>
    {% endfor %}

    <div class="row mb-1" id="display-div">
        <h7 class="col ml-2">Display:</h7>
        <input id="display-toggle" type="checkbox" checked data-toggle="toggle"
                       data-onstyle="success" data-offstyle="danger" data-size="xs" data-height="25">
    </div>

    <div class="row mb-1" id="media-event-div">
        <h7 class="col ml-2">Media:</h7>
        <div class="col ml-5">
            <button id="media_start" type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                    data-target="#startMediaModal">ON
            </button>
        </div>
        <div class="col ml-2">
            <button id="media_stop" type="button" class="btn btn-sm btn-outline-danger">OFF</button>
        </div>
    </div>

    <div class="row mb-1" id="bugs-event-div">
        <h7 class="col ml-2">Bugs:</h7>
        <div class="col ml-5">
            <button id="init_bugs" type="button" class="btn btn-sm btn-primary">ON</button>
        </div>
        <div class="col ml-2">
            <button id="hide_bugs" type="button" class="btn btn-sm btn-outline-danger">OFF</button>
        </div>
    </div>
    <div class="row mb-2">
        <button id="reward" type="button" class="btn btn-sm btn-primary mx-auto">Reward</button>
    </div>
    <div class="row mb-2">
        <button id="animalSummary" type="button" class="btn btn-sm btn-primary mx-auto">Animal Summary</button>
    </div>
    <div class="row mb-2">
        <button data-toggle="modal" data-target="#calibrationsModal" class="btn btn-sm btn-primary mx-auto">Calibration</button>
    </div>
    <div class="row mb-2">
        <button data-toggle="modal" data-target="#predictionsModal" class="btn btn-sm btn-primary mx-auto">Predict</button>
    </div>
    {% if is_light_stim %}
    <div class="row mb-2">
        <button id="light_stim_btn" type="button" class="btn btn-sm btn-primary mx-auto" data-toggle="modal"
            data-target="#lightStimModal">Lights STIM</button>
    </div>
    {% endif %}
</div>


<!-- Animal Summary Modal -->
<div class="modal fade" id="animalSummaryModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Animal Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="animalSummaryText"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Media Modal -->
<div class="modal fade" id="startMediaModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadMediaModalLabel">Load Media</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please select video</p>
                <div class="form-group row pr-3">
                    <label for="manualMediaSelect" class="col col-form-label">Media File:</label>
                    <div class="col">
                        <select id="manualMediaSelect" class="form-control col">
                            {% for mediaFile in media_files %}
                            <option value="{{mediaFile}}">{{mediaFile}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="loadMediaManual" type="button" class="btn btn-primary">Load</button>
            </div>
        </div>
    </div>
</div>


<!-- Bugs Modal -->
<div class="modal fade" id="startBugsModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadBugsModalLabel">Load Bugs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please Select Bug Options</p>
                <div class="form-group row pr-3">


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="loadBugsManual" type="button" class="btn btn-primary">Load</button>
            </div>
        </div>
    </div>
</div>


<!-- STIM Modal -->
<div class="modal fade" id="lightStimModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Light Stimulations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row pr-3">
                    <label for="lightStimType" class="col col-form-label">Stimulation Type:</label>
                    <div class="col">
                        <select id="lightStimType" class="form-control col">
                            <option value="1">Single Stimulus</option>
                            <option value="2">Bursts of Stimulus</option>
                            <option value="3">Typical Stimuli</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row pr-3">
                    <label for="lightStimTrialCount" class="col col-form-label">Trial Count:</label>
                    <div class="col">
                        <input type="number" class="form-control" id="lightStimTrialCount" value="70" required>
                    </div>
                </div>

                <div class="form-group row pr-3">
                    <label for="lightStimITI" class="col col-form-label">ITI:</label>
                    <div class="col">
                        <input type="number" class="form-control" id="lightStimITI" value="120000" required>
                    </div>
                </div>

                <div class="form-group row pr-3">
                    <label for="lightStimISI" class="col col-form-label">ISI:</label>
                    <div class="col">
                        <input type="number" class="form-control" id="lightStimISI" value="5000" required>
                    </div>
                </div>

                <div class="form-group row pr-3">
                    <div class="col input-group date" id="stim-datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#stim-datetimepicker1" autocomplete="off" />
                        <div class="input-group-append" data-target="#stim-datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="stpoStimButton" type="button" class="btn btn-outline-danger">Stop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="saveStimButton" type="button" class="btn btn-primary">Run</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#stim-datetimepicker1').datetimepicker({
            format: "DD/MM/YYYY HH:mm",
            todayHighlight: true
    })

    $("#openArenaConfig").click(() => {
        $('#arenaConfig').modal('toggle');
    })

    $("#reward").click(function (e) {
        $.get('/reward', function (data) {
            console.log('>> Reward sent manually')
        })
    })

    $("#animalSummary").click(function (e) {
        $.get('/animal_today_summary', function (data) {
            $("#animalSummaryText").text(data)
        }).fail((data) => {
          $("#animalSummaryText").text(data.responseText)
      })
        $('#animalSummaryModal').modal('toggle');
    })

    $("#init_bugs").click(function (e) {
        let blockValues = new Block(1).values
        let payload = {
            numOfBugs: 1,
            numTrials: blockValues.num_trials,
            iti: blockValues.iti,
            trialDuration: blockValues.trial_duration,
            speed: blockValues.bug_speed,
            bugTypes: blockValues.bug_types || ['cockroach'],
            rewardBugs: blockValues.reward_bugs || [],
            movementType: blockValues.movement_type,
            backgroundColor: blockValues.background_color,
            exitHole: blockValues.exit_hole
        }
        if (!$("#isDefaultBugSize1").is(':checked')) {
            Object.assign(payload, {bugSize: Number($("#bugSize1").val())})
        }
        $.ajax({
            url: "/init_bugs",
            type: "POST",
            data: JSON.stringify(payload),
            contentType: "application/json",
            complete: function (res) {
                console.log('>> Bugs initiated manually')
            }
        })
    })

    $("#hide_bugs").click(function (e) {
        $.get('/hide_bugs')
        console.log('>> Bugs stopped manually')
    })

    $("#loadMediaManual").click(function () {
        let video = $("#manualMediaSelect").val()
        $('#startMediaModal').modal('toggle');
        $.ajax({
            url: "/start_media",
            type: "POST",
            data: JSON.stringify({
                media_url: video
            }),
            contentType: "application/json",
            complete: function (res) {
                console.log(`>> Video ${video} started manually`)
            }
        })
    })

    $("#media_stop").click(function () {
        $.get('/stop_media', (data) => {
        })
    })

    $("#saveStimButton").click(() => {
        let stimType = $("#lightStimType").val()
        let trialCount = Number($("#lightStimTrialCount").val())
        let ITI = Number($("#lightStimITI").val())
        let ISI = Number($("#lightStimISI").val())
        $.post('/commit_light_stim', {
                start_date: $("#stim-datetimepicker1").data().date,
                experiment_name: `LightSTIM:RUN ${stimType} ${trialCount} ${ITI} ${ISI}`,
                every: 0,
                end_date: null
        })
        $("#lightStimModal").modal('toggle');
    })

    $("#stpoStimButton").click(() => {
        $.get('/stop_light_stim')
    })

</script>