<form class="col" id="schedule-experiment-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" autocomplete="off" />
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-sm-1">
                        <input id="isRepeatSchedule" type="checkbox">
                    </div>
                    <label for="isRepeatSchedule" class="col">Repeat</label>
                </div>
            </div>
        </div>
        <div class="row" id="repeatScheduleSection">
            <div class="col-sm-3">
                <label for="scheduleEveryMinutes">Every</label>
                <input id="scheduleEveryMinutes" type="number" style="max-width: 100%; padding-left: 0.5em" value="0">
            </div>
            <div class="col-sm-7">
                <label for="scheduleEveryMinutes">Until</label>
                <div class="form-group" style="max-width: 100%">
                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" autocomplete="off"/>
                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-7">
                <label for="scheduleTypeSelect" class="col-form-label">Schedule Type</label>
                <select id="scheduleTypeSelect" class="form-control">
                    <option value="experiment">Experiment</option>
                    <option value="switch">Switch</option>
                </select>
            </div>
        </div>
        <div class="row" id="cachedExperimentsSelectScheduleSection">
            <div class="col-sm-7">
                <label for="cachedExperimentsSelectSchedule" class="col-form-label">Experiment Name</label>
                <select id="cachedExperimentsSelectSchedule" class="form-control">
                </select>
            </div>
        </div>
        <div class="row" id="switchSelectScheduleSection">
            <div class="col-sm-7">
                <label for="switchNameSelectSchedule" class="col-form-label">Switch Name</label>
                <select id="switchNameSelectSchedule" class="form-control">
                    {% for toggle in toggels %}
                        <option value="{{toggle}}">{{toggle}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-7">
                <label for="switchStateSelectSchedule" class="col-form-label">Switch State</label>
                <select id="switchStateSelectSchedule" class="form-control">
                    <option value="on">ON</option>
                    <option value="off">OFF</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <button id="saveScheduleButton" type="button" class="btn btn-primary" style="float: right">
                Save
            </button>
        </div>
    </div>
</form>

<script>
    $("#isRepeatSchedule").change(() => {
        let isRepeat = $("#isRepeatSchedule").is(":checked")
        if (isRepeat) {
            $("#repeatScheduleSection").show()
        } else {
            $("#repeatScheduleSection").hide()
        }
    }).trigger('change')

    $("#scheduleTypeSelect").change(() => {
        let scheduleType = $("#scheduleTypeSelect").val()
        if (scheduleType === "experiment") {
            $("#cachedExperimentsSelectScheduleSection").show()
            $("#switchSelectScheduleSection").hide()
        } else if (scheduleType === "switch") {
            $("#cachedExperimentsSelectScheduleSection").hide()
            $("#switchSelectScheduleSection").show()
        }
    }).trigger('change')

    $("#saveScheduleButton").click(() => {
        let experimentName = $("#cachedExperimentsSelectSchedule").val()
        if ($("#scheduleTypeSelect").val() === 'switch') {
            experimentName = `SWITCH:${$("#switchNameSelectSchedule").val()},${$("#switchStateSelectSchedule").val()}`
        }
        $.post('/commit_schedule', {
                start_date: $("#datetimepicker1").data().date,
                experiment_name: experimentName,
                every: $("#isRepeatSchedule").is(":checked") ? Number($("#scheduleEveryMinutes").val()) : 0,
                end_date: $("#datetimepicker2").data().date
        })
        $("#scheduleModal").modal('toggle');
    });
</script>